/*FUNCTION*/
/*컴포넌트 묶음*/

/*Media Query*/
$breakpoint-mobile: 320px;
$breakpoint-tablet-mini: 768px;
$breakpoint-tablet: 980px;
$breakpoint-desktop: 1200px;

/*button components*/
@mixin button-main {
}

/*Flex*/
@mixin flex {
  display: flex;
  align-items: center;
}
@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin flex-center {
  display: felx;
  align-items: center;
  justify-content: center;
}
@mixin flex-column {
  display: flex;
  align-items: center;
  flex-direction: column;
}
