@charset "utf-8";



/* 초기화 요소 */
*{ margin: 0; padding: 0;}

ol,ul {list-style: none;}

a:link,a:visited,a:hover,a:active {text-decoration: none; color: #000;}

body {font-family: 'Noto Sans KR'; font-size: 16px; line-height: 26px; color: #000;}


/* */

.view a {color: #fff; font-size: 0.8rem; display: inline-block; padding: 0.7% 2.5%; letter-spacing: 2px; background: rgba(0,0,0,0.9);/*#fffae6*/; text-transform: uppercase; position: absolute; top:7.2vw; right: 7%; z-index: 3; font-weight: bold; z-index: 99999; transition: all 0.5s; box-shadow: 0.5px 0.5px 10px rgba(0,0,0,0.5);}
.view a:hover {background: rgba(255,250,230,1); color: #000;}


.btn_close {display:block; width: 5vw; position: absolute; top:1vw; right: 1vw; min-height: 5vw; box-sizing: border-box; transition: all 0.3s; z-index: 999;}
.btn_close:hover {opacity: 0.3;}
.btn_close a img {width: 100%;}

#styleguide {
    max-width:1920px; height:0; position: relative;  
    padding-bottom: calc(13365/1920*100%);
    background-image: url('../images/hedwig_styleguide.jpg');
    background-size: 100vw; 
    background-repeat: no-repeat;
    background-position: center top;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 0 24px;
    height: 4rem;
  }
  @media screen and (min-width: 768px) {
    .header {
      margin-bottom: 3.2rem;
      padding: 0 40px;
    }
  }
  @media screen and (min-width: 1200px) {
    .header {
      margin-bottom: 4rem;
      height: 5.4rem;
    }
  }
  .header .h-menu {
    position: relative;
    width: 64px;
    height: 50px;
    z-index: 200;
  }
  .header .h-menu .button {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 10;
    width: 64px;
    height: 50px;
    cursor: pointer;
    opacity: 0;
  }
  .header .h-menu .close {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.6rem;
    width: 64px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header .h-menu .close > div {
    position: relative;
    top: 0;
    left: 0;
    background: rgab(0, 0, 0, 0);
    height: 2px;
    width: 60%;
  }
  .header .h-menu .close > div::before {
    content: "";
    position: absolute;
    top: 0;
    width: 30px;
    height: 2px;
    background: #1d1d1d;
    transform: rotate(45deg);
  }
  .header .h-menu .close > div::after {
    content: "";
    position: absolute;
    top: 0;
    width: 30px;
    height: 2px;
    background: #1d1d1d;
    transform: rotate(135deg);
  }
  .header .logo {
    width: 40px;
    height: 40px;
  }
  .header .logo a {
    display: block;
    width: 100%;
    height: 100%;
  }

#styleguide .btn_back a {
    color: #fff; font-size: 0.8rem; display: inline-block; padding: 0.7% 2.5%; letter-spacing: 2px; background: rgba(0,0,0,0.9);/*#fffae6*/; text-transform: uppercase; font-weight: bold; z-index: 99999; box-shadow: 0.5px 0.5px 10px rgba(0,0,0,0.5);
    background: #000; position: absolute; bottom:3vw; right: 11%; z-index: 1; transition: background 0.5s; }
#styleguide .btn_back a:hover {background: rgba(0,0,0,0.6);}



