@import "reset";
@import "interface";
@import "function";

.wrap{
    background: $color-bg;
    width: 100%;
    overflow: hidden;
}
.header{
    // background-color: $color-bg;
    @include flex-between;
    position: fixed; top: 0; left:0; right:0; z-index:100; padding: 0 24px; height: 4rem;
    @media screen and (min-width:768px) {margin-bottom:3.2rem; padding:0 40px;}
    @media screen and (min-width:1200px) {margin-bottom: 4rem; height: 5.4rem;}
    .h-menu{
        position: relative; width: 64px; height: 50px; z-index: 200;
        .toggler{
            position: absolute; top: 0; left: 0;
            margin: 0; z-index: 10; width: 64px; height: 50px;
            cursor: pointer; opacity: 0;
        }
        .hamburger{
            position: absolute; top: 0; left: 0; padding: 0.6rem; width: 64px; height: 50px;
            display: flex; align-items: center; justify-content: center;
            &>div{
                position: relative; top: 0; left: 0; background:$color-point; height: 2px; width: 60%; background-color: $color-point; transition: all 0.4s ease;
                &::before, &::after{
                    content: ''; position: absolute; top: -10px; width:100%; height: 2px; background: $color-point; transition: all 0.4s ease;
                }
                &::after{top:10px;}
            }
            
        }
    }

    .logo{
        width: 40px;
        height: 40px;
        a{display: block; width: 100%; height: 100%;}
    }
}/*header끝*/

.nav-wrap{
    position: fixed; top: 0; left: 0; z-index: 7; width: 0%; height: 100vh;
    transition: all 0.6s ease; 
    & > ul{ 
        @include flex-column; align-items: flex-start;
        position: fixed; top: 6rem; left: 24px; visibility: hidden;
        @media screen and (min-width:768px) { top: 6rem; padding: 0 40px;}
        @media screen and (min-width:1200px) { top: 10rem; padding: 0 60px;}
        & > li{
            list-style: none; padding: 0.5rem;
            & >a{
                position: relative; color: $color-point; text-decoration: none;
                &::after{
                    position: absolute; bottom: 0; left: 0;
                    content: ""; display: block; width: 0; height: 2px; background-color: $color-point;
                    transition: all 0.4s ease;
                }
            }
        }
    }
}/*Nav List Wrap 끝*/

/*========TOGGLE ACTIVE========*/
.h-menu.active .hamburger > div {
    background: rgba(0,0,0,0);
    &::before{top:0; transform: rotate(45deg); width: 30px;}
    &::after{top:0; transform: rotate(135deg); width: 30px;}
}
.nav-wrap.active{
    width: 100%; background-color: $color-bg;
    &>ul{
        transition: visibility 0.4s ease; transition-delay: 0.1s; visibility: visible;
        &>li>a:hover{
            &::after{width: 100%;}
        }
    }
}


.title-main{@include font-title; font-weight: 700; line-height: 1.3;}
.title-sub{@include font-subTitle; font-weight: 600;}
.title-deskTxt{@include font-deskBasic; font-weight: 600;}
.title-txt{@include font-basic; font-weight: 200;}
.title-small{@include font-small; font-weight: 200;}

.container{
    .main_visual{
        padding: 8rem 0 8rem 0;
        @media screen and (min-width:980px){padding-bottom: 10rem;}
        .inner{
            max-width:1400px; margin:auto; text-align: center;
            .mv_title{
                @include font-bigTitle;
                margin-bottom: 1.6rem;
                line-height: 1.2; font-weight: 700; color:$color-main;
            }
            .mv_txt{@include font-basic;}
            .visual-svg-wrap{
                margin: 2rem auto;
                @media screen and (min-width:860px){margin-top:-2rem;}
            }
        }
    }
}
.section{
    /*----section 공통스타일----*/
    padding: 6rem 0;
    .inner{
        padding: 0 24px;
        @media screen and (min-width:768px){padding: 2rem 40px;}
        @media screen and (min-width:980px){padding: 4rem 40px;}
        @media screen and (min-width:1200px){margin: 0 auto; padding: 6rem 60px; width:1200px; max-width:1200px;}
        @media screen and (min-width:1400px){width:1400px; max-width: 1400px;}
        .sc-title-wrap{
            margin-bottom: 4rem;
            @media screen and (min-width:768px){margin-bottom:6rem;}
        }
    }
    /*-----------ABOUNT & Work Experience 영역-----------*/
    &.section-work-wrap{
        .inner{
            @media screen and (min-width:980px) {
                @include flex-between; align-items: baseline;
            }
            .sc-title-wrap{
                .sc-title-top{
                    margin-bottom:2rem;
                    .lighter{font-weight: 300;}
                }
                .sc-title-bottom{
                    @include flex; align-items: flex-end;
                    .text-wrap{
                        .title-deskTxt{font-weight: 600;}
                        
                    }
                }
                @media screen and (max-width:979px) {
                    margin-bottom: 3rem; text-align: center;
                    .sc-title-bottom{
                        @include flex-column; align-items: center;
                        .text-wrap{
                            .title-deskTxt{text-align: center; margin-bottom: 0.2rem;}
                            .title-txt{text-align: center;}
                        }
                    }
                }
            }
            .sc-conts-wrap{
                @media screen and (min-width:980px){
                    width:50%;
                    transition-delay: 0.4s;
                }
                .work-list-wrap{
                    .work-list{
                        padding-bottom: 1.4rem; border-bottom: 1px solid rgba(37,56,173,0.1);
                        margin-bottom: 2rem;
                        &:last-child{ border-bottom: 0px;}
                        .work-title{margin-bottom:1.4rem;}
                        .menu{
                            .list{@include flex-between; margin-bottom: 1.4rem; align-items: baseline;
                            @media screen and (min-width:980px){margin-bottom: 0.6rem;}
                            .name{
                                &>p:nth-child(1){font-size: 14px; font-weight: 500;}
                                &>p:nth-child(2){font-size: 13px; font-weight: 300;}
                                @media screen and (min-width:980px){
                                    @include flex;
                                    &>p:nth-child(2){margin-left: 0.4rem;}
                                    }
                                }
                                .date{font-size: 13px; font-weight: 500;}
                            }
                        }
                    }
                }
            }
        }
    }
    /*-----------Portfolio 영역-----------*/
    &.section-portfolio-wrap{
        background-color: $color-bg-grey;
        .inner{
            .sc-title-wrap{
                text-align: center;
            }
            .sc-conts-wrap{
                .portfolio-list-wrap{
                    @media screen and (min-width:768px) { @include flex-between; flex-wrap: wrap; }
                    .portfolio-list{
                        margin-bottom: 3rem;

                        @media screen and (min-width:768px) {
                            width: 49%; margin-bottom: 3rem;
                            &:nth-child(2n+0){transition-delay: 0.2s;}
                        }
                        .p-list-box{
                            position: relative; box-sizing: border-box; border:1px solid rgb(227, 227, 227);
                            &::before{content: ""; display: block; padding-top: 100%;}
                            
                            a{
                                position: absolute; top: 0; bottom: 0; left: 0; right: 0; display: block; width: 100%; height: 100%;
                                .p-bg-wrap{ position: absolute; top: 0; bottom: 0; left: 0; right: 0; }
                            }
                            .p-detail-wrap{
                                opacity: 0;
                                position: absolute; top: 0; bottom: 0; left: 0; right: 0;
                                @include flex-column; justify-content: center;
                                background-color: rgba(37,56,173,0.9); 
                                transition: all 0.4s ease;
                                p{color: $color-white;}
                                .button-view{width: 46px;}
                            }
                            &:hover .p-detail-wrap{ transition: opacity 450ms ease-in-out; opacity:1;}   
                    }
                    .p-title-wrap{
                        padding-top: 0.1rem;
                        margin-bottom: 2rem;
                        .project-name{display: inline-block;
                            &::after {content: "\22C5"; display: inline-block; padding: 0.3rem;}
                        }
                        .label {display: inline-block;}
                        .black{color: $color-middle-black;}
                        }
                    }
                }
            }
        }
    }
    /*-----------SKILL 영역-----------*/
    &.section-skill-wrap{
        .inner{
            .sc-title-wrap{
                text-align: center;
            }
            .skill-list-wrap{
                @media screen and (min-width:768px){
                    @include flex-between; flex-wrap: wrap; align-items: baseline;
                    .skill-list{
                        width: 29.2%; margin-right: 1.2%; box-sizing: border-box;
                        &:last-child{margin-right: 0;}
                    }
                }
                .skill-list{
                    margin-bottom: 3.5rem;
                    .sk-title{
                        position: relative;
                        @include flex; align-items: flex-end;
                        margin-bottom: 1.2rem; padding-bottom: 0.4rem;
                        &::after{content: ""; clear: both; display: block; position: absolute; bottom:0; left:0; width: 100%; height: 2px; background-color: $color-main; transition: all 0.5s ease;}
                        .icon{width: 48px; height: 48px; background-repeat: no-repeat; background-position: 100% auto; background-color: $color-main; margin-right: 0.4rem;}
                    }
                    .sk-info{
                        .info-list{
                            margin-bottom: 0.8rem;
                            .list-detail{
                                @include flex-between; margin-bottom: 0.25rem;
                                p{
                                    @include font-basic; font-weight: 600; 
                                }
                                
                            }
                            // li{@include font-basic; font-weight: 600; margin-bottom: 0.25rem;}
                        }
                        .info-menu{
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    } 
}





.footer{
    padding: 4rem 0;
    background-color: $color-main;
    .inner{
        padding: 0 24px;
        @media screen and (min-width:768px) { padding: 0 40px;}
        @media screen and (min-width:1200px) { margin: 0 auto; padding: 2rem 60px; width: 1200px; max-width: 1200px;}
        @media screen and (min-width:1400px) { width: 1400px; max-width: 1400px;}
        .f-title{
            margin-bottom: 2.6rem; color: $color-white; 
        }
        .f-conts{
            flex-direction: column;
            .f-info{
                padding-bottom: 2rem;
                .f-info-list{ padding-bottom: 1.2rem;}
                h3{ color: $color-white; display: inline-block; padding-right: 0.6rem;}
                p{ color: $color-white; font-weight: 300; opacity: 0.8; display: inline-block; }
            }
            .f-others{
                border-top: 1px solid rgba(255, 255, 255, 0.1); padding-top: 2rem;
                .sns-lists{
                    @include flex; margin-top: 1rem;
                    li{
                        padding-right: 1.6rem; border-radius: 8px;
                        a{
                            display: inline-block; width: 100%; height: 100%; @include flex-center; 
                            .fa { color: #fff; vertical-align: middle;}
                        }
                    }
                }
                @media screen and (min-width:768px) {
                    @include flex; align-items: flex-stat; justify-content: center;
                }
            }
            }
            
        .copyright{ 
            padding-top:2rem; color: $color-white; font-weight: 300; opacity: 0.5;
            @media screen and (min-width:768px) {
                @include flex; align-items: flex-start; justify-content: center;
            }
        }
    }
}