@import "reset";
@import "interface";
@import "function";


.header{
    // background-color: $color-bg;
    @include flex-between;
    position: fixed; top: 0; left:0; right:0; z-index:100; padding: 0 24px; height: 4rem;
    @media screen and (min-width:768px) {margin-bottom:3.2rem; padding:0 40px;}
    @media screen and (min-width:1200px) {margin-bottom: 4rem; height: 5.4rem;}
    .h-menu{
        position: relative; width: 64px; height: 50px; z-index: 200;
        .button{
            position: absolute; top: 0; left: 0;
            margin: 0; z-index: 10; width: 64px; height: 50px;
            cursor: pointer; opacity: 0;
        }
        .close{
            position: absolute; top: 0; left: 0; padding: 0.6rem; width: 64px; height: 50px;
            display: flex; align-items: center; justify-content: center;
            &>div{
                position: relative; top: 0; left: 0; background:rgab(0,0,0,0); height: 2px; width: 60%;
                &::before{
                    content: ''; position: absolute; top: 0; width:30px; height: 2px; background: $color-black; transform: rotate(45deg);
                }
                &::after{content: ''; position: absolute; top:0; width:30px; height: 2px; background: $color-black; transform: rotate(135deg);}
            }
            
        }
    }

    .logo{
        width: 40px;
        height: 40px;
        a{display: block; width: 100%; height: 100%;}
    }
}/*header끝*/

.container{
    .title-main{ color: $color-middle-black;}
    .title-sub{ color: $color-middle-black;}
    .title-deskTxt{ color: $color-middle-black;}
    .title-txt{ color: $color-middle-black;}
    .title-small{ color: $color-middle-black;}

    /*--------(Common)Sub-Visual 공통스타일--------*/
    .sub-visual{
        height: 100vh;
        .inner {
            padding: 0 24px;
            @media screen and (min-width:768px) { padding: 2rem 40px;}
            @media screen and (min-width:980px) { padding: 4rem 40px;}
            @media screen and (min-width:1200px) { margin: 0 auto; padding: 6rem 60px; width: 1200px; max-width: 1200px;}
            @media screen and (min-width:1400px) { width: 1400px; max-width: 1400px;}
            .btn-view {
                color: $color-white; display: inline-block; width: 280px; height: 60px; font-weight: 400; border: 1px solid $color-white; transition: all 0.4s ease; margin-top:2.6rem; box-sizing: border-box; font-weight: bold;
                @include flex; justify-content: center;
            }
        }
        &.helsi-visual {
            background: #0B588F; display: flex; align-items: center; justify-content: center; padding: 6rem 0;
        }
        &.hedwig-visual {
            .title-main{color: $color-white; padding-bottom: 1rem;}
            .title-deskTxt{color: $color-white;}
            .title-txt{color: $color-white;}
            .label {font-weight: 500; opacity: 0.7;}
            background: url(../images/bg-hedwig-pattern.jpeg) no-repeat center center; background-size: 200% auto;
            @include flex; align-items: center; justify-self: center; position: relative;
            .bg{
                width: 78%; height: auto; position: absolute; max-width: 1000px; top:1.2rem; right: 0; display: none;
                @include tablet-mini {width: 70%; top: 50%; transform: translateY(-50%); display: block; right: -3rem;}
                @media screen and (min-width:768px) { width: 78%; top: 50%; transform: translateY(-50%); right: -3rem; display: block;}
                @media screen and (min-width:980px) { width: 80%; top: 50%; transform: translateY(-50%); display: block;}
                @media screen and (min-width:1200px) { top: 50%; transform: translateY(-50%); right: -5rem; display: block;}
                @media screen and (min-width:1400px) { width:100%; top: 50%; transform: translateY(-50%); right: 0.2rem; display: block;}
            }
            .inner{
                padding: 0 24px;
                @media screen and (min-width:768px) { padding: 2rem 40px;}
                @media screen and (min-width:980px) { padding: 4rem 40px;}
                @media screen and (min-width:1200px) { margin: 0 auto; padding: 6rem 60px; width: 1200px; max-width: 1200px;}
                @media screen and (min-width:1400px) { width: 1400px; max-width: 1400px;}
                .sub-title-wrap{
                    padding: 3rem 0;
                    .title-main {
                        @include font-bigTitle;
                    }
                }
                .project-info{
                    @include flex-row; justify-content: start; align-items: baseline; opacity: 0.8;
                    .label{ font-weight: bold; padding-right: 2rem;}    
                }  
                .btn-view{
                    &:hover{
                        color:#C73400; background: #fff;
                    }
                }
            }
        }
    }
    .sub-section{
        padding: 4rem 0; background: $color-bg-grey;
        &:last-child{padding: 0;}
        .inner {
            padding: 0 24px;
            @include mobile { padding: 2rem 40px;}
            @include tablet-mini { padding: 4rem 40px;}
            @include desktop { margin: 0 auto; padding: 4rem 60px; width: 1200px; max-width: 1200px;}
            @media screen and (min-width:1400px) { width: 1400px; max-width: 1400px;}
            .sc-title-wrap{
                margin-bottom: 4rem;
                @include tablet {margin-bottom: 4rem;}
                @include tablet-mini {margin-bottom: 5rem;}
                .title-main{
                    padding-bottom: 1rem;
                }
                & > h2{ 
                    margin-bottom: 1rem;
                    span{font-weight: 700;}
                }
            }
        }
        .consts-wrap{
            .logo-list-wrap{
                @media screen and (min-width:768px) { @include flex-between; flex-wrap: wrap; }
                .list{
                    @include flex-column; margin-bottom: 3rem;
                    @media screen and (min-width:768px) {
                        width: 49%; margin-bottom: 3rem;
                        &:nth-child(2n+0){transition-delay: 0.2s;}
                    }
                    background: #fff; border-radius: 1.8rem; box-shadow: 0 4px 8px rgba(0,0,0,0.2);
                    &:nth-child(2) { background: #0B588F;}
                    img {
                        width: 60%; max-width: 350px; margin: 0 auto; 
                    }

                }
            }
        }
        .color-list-wrap{
            @include flex-column; 
            @include tablet-mini{
                flex-direction: row; justify-content: space-around;
            }
            .item{
                width: 70%; box-sizing: border-box; background: $color-white; border-radius: 50%; margin-bottom: 2rem;
                &::before {content: ""; display: block; padding-top: 100%;}
                @include tablet-mini {
                    width: 30%; margin-right: 2%; max-width: 450px;
                    &:nth-child(3){margin-right: 0;}
                }
                @include flex; justify-content: center; align-items: center;
                
                .text-wrap{
                    @include flex-column; width: 70%; 
                    .title-main{ color: $color-white; text-align: center;}
                    .title-sub{ color: $color-white;}
                    .title-txt{ color: $color-white;}
                }
            }
            .item-helsi{
                &:nth-child(1) { background: url(../images/helsi-color-bg-1.png) no-repeat; background-size: 100% auto;}
                &:nth-child(2) { background: url(../images/helsi-color-bg-2.png) no-repeat; background-size: 100% auto;}
                &:nth-child(3) { background: url(../images/helsi-color-bg-3.png) no-repeat; background-size: 100% auto;}
            }
            .item-hedwig{
                include tablet-mini {
                    width: 30%; margin-right: 2%; max-width: 450px;
                }
                background: url(../images/hedwig-color-bg.png) no-repeat; background-size: 100% auto;
            }
        }
        &.section-project-font{
            .title-main{color: $color-white;}
            .title-txt{color: $color-white;}
            background: #0B588F;
            .conts-wrap{
                .font-list-wrap{
                    @media screen and (min-width: 768px) {@include flex-between; flex-wrap: wrap;}
                    .list{
                        @include flex-column; margin-bottom: 3rem;
                        @media screen and (min-width: 768px) {
                            width: 49%; margin-bottom: 3rem; 
                            &:nth-child(2) { transition-delay: 0.2s;}
                        }
                        .font-wrap{
                            background: rgba(0,0,0,0.05); box-shadow: 0 4px 8px rgba(0,0,0,0.2); border-radius: 1.4rem; margin-bottom: 2rem;
                            img{
                                width:100%; max-width: 600px; margin: 0 auto; padding: 4rem 5rem;
                            }
                        }
                    }
                }
            }
        }
        &.section-project-mockup{
            background: $color-bg-grey;
        }
    }
}

